body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #878787;
    height: 50vh;
}

#hero-img {
    z-index: -1;
    border-radius: 100%;
    width: 30%;
    transform: translateY(-12vh);
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 3.5em;
    text-shadow: 0 1px 6px rgba(255, 255, 255, 0.8);
}

#search-fields {
    display: flex;
    column-gap: 15px;
    background-color: rgba(50, 50, 50, .2);
    padding: 12px;
    border-radius: 3px;
    transform: translateY(-20vh);
    box-shadow: 0 0 20px rgba(255, 255, 255, .2);
}

#country-input {
    font-size: 1.5em;
    color: rgb(235, 235, 235);
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(50, 50, 50, 0.1);
    border-radius: 5px;
    padding: 4px;
}

#country-input:focus {
    outline: none;
    background-color: rgba(50, 50, 50, 0.3);
}

#search-button, #map-button {
    background-color: rgba(20, 20, 20, 0.1);
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(235, 235, 235);
}

#search-button:hover, #map-button:hover {
    background-color: rgba(20, 20, 20, 0.3);
}

#country-info-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(240, 240, 240, .8);
    transform: translateY(-15vh);
}

#country-info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    width: 22vw;
    border-bottom: 2px solid rgba(30, 30, 30, .1);
}

#country-info-header > img {
    height: 3em;
    border-radius: 3px;
}

#country-info-header > h2 {
    font-family: "Pacifico", cursive;
    font-size: 1.7em;
}

#country-info-body {
    padding-left: 20px;
    font-family: "Roboto Light", sans-serif;
    line-height: 1.3em;
}
